<div class="home-banner">
  <h1> Your Favorite Cocktails </h1>
  <%= link_to "Add Cocktail", new_cocktail_path, class: "main_btn"%>
</div>
<% @cocktails.each do |cocktail| %>
  <div class="cocktail_container" data-aos="flip-left">
    <h2><%=cocktail.name%></h2>
    <ul>
      <li>Ingredients:</li>
      <% cocktail.doses.each do |dose| %>
        <li><%= dose.ingredient.name%>, </li>
      <% end %>
    </ul>
    <ul class="action_list">
      <li><%= link_to "More info", cocktail_path(cocktail), class: "btn"%></li>
      <li><%= link_to "Edit", edit_cocktail_path(cocktail), class: "btn"%></li>
      <li><%= link_to "Remove", cocktail_path(cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn" %>
    </ul>
  </div>
<% end %>

<script>
  AOS.init();
</script>
