<div class="big_container">
  <div class="info_container">
    <h2><%= @cocktail.name %></h2>
    <p><strong>Ingredients:</strong></p>
    <ul>
      <% @doses.each do |dose| %>
        <li>
          <ul class="ingredient">
            <li> <%=dose.ingredient.name%>: <%=dose.description%></li>
            <div class="actions">
              <li> <%= link_to "Edit",  edit_dose_path(dose), class: "btn"%></li>
              <li><%= link_to "Remove", dose_path(dose),
                method: :delete,
                data: { confirm: "Are you sure?" }, class: "btn" %> </li>
            </div>
          </ul>
        </li>
      <% end %>
    </ul>

    <%= link_to "Add Dose", new_cocktail_dose_path(@cocktail), class: "btn"%>
  </div>
  <div class="home_button">
    <%= link_to "Back to Cocktails", cocktails_path, class: "btn"%>
  </div>
</div>
